*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f7fb;
    overflow-x:hidden;
}

/* HEADER */

header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:100;
    padding:25px 70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:55px;
}

.logo-text h1{
    color:white;
    font-size:38px;
}

.logo-text p{
    color:white;
    opacity:.8;
    font-style:italic;
}

nav ul{
    display:flex;
    gap:35px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:white;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#ffd12d;
}

/* HERO */

.hero{
    height:100vh;
    background:
    linear-gradient(rgba(0,22,61,.65), rgba(0,22,61,.65)),
    url("https://images.unsplash.com/photo-1518509562904-e7ef99cdcc86?q=80&w=2000");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    padding:0 80px;
}

.hero-content{
    max-width:700px;
    color:white;
}

.hero span{
    color:#ffd12d;
    font-size:25px;
    font-weight:bold;
    letter-spacing:2px;
}

.hero h2{
    font-size:90px;
    line-height:90px;
    margin:20px 0;
    font-weight:900;
}

.wave{
    width:250px;
    height:8px;
    background:#00d9ff;
    border-radius:50px;
    margin-bottom:30px;
}

.hero p{
    font-size:25px;
    line-height:40px;
}

/* CULTURA */

.cultura{
    padding:100px 70px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.card{
    background:white;
    padding:35px;
    border-radius:25px;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h2{
    color:#00a8d8;
    margin-bottom:15px;
    font-size:28px;
}

.card p{
    color:#4c5872;
    font-size:18px;
    line-height:30px;
}

/* FOOTER */

footer{
    background:#001d42;
    padding:40px;
    text-align:center;
}

footer p{
    color:#c9d5e8;
}

/* RESPONSIVO */

@media(max-width:1200px){

    .cultura{
        grid-template-columns:repeat(2,1fr);
    }

    .hero h2{
        font-size:70px;
        line-height:70px;
    }

}

@media(max-width:768px){

    header{
        flex-direction:column;
        gap:20px;
        padding:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    .hero{
        padding:0 25px;
    }

    .hero h2{
        font-size:50px;
        line-height:50px;
    }

    .hero p{
        font-size:18px;
        line-height:30px;
    }

    .cultura{
        grid-template-columns:1fr;
        padding:70px 25px;
    }

}